<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="serverip" value="127.0.0.1:18057"/>
		<!--允许的客户端IP-->
		<add key="allowclinetip" value=""/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<!--<add key="DataApiSite" value="http://localhost:58069"/>-->
		<add key="DataApiSite" value="http://127.0.0.1:18904"/>
		<add key="DataApiSiteSecret" value="23juwww23nhs8YH"/>

		<!--上报服务端：编号|服务器名称|环境:1正式 2测试-->
		<add key="AppServer" value="001|站点服务器|1"/> 
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
