<style type="text/css">
    .main { width: 100%; height: 90%; position: fixed; background-color: #fff; }
    .ifrtree { width: 100%; height: 100%; }
    .rbborder { border-right: 1px dotted green; }
    .ul3 li { float: left; margin: 5px; width: 240px; overflow: hidden; font-size: 12px; font-weight: bolder; padding: 2px 5px; border: 1px solid rgb(128 128 128 / 0.31); height: 30px; line-height: 30px; }
    .ul3 li:hover { background-color: #00800065; color: #fff; font-weight: 700; }

    #listtable3 { max-height: 900px; overflow: scroll; }
    #listtable3 { border: 1px solid rgb(128 128 128 / 0.44); border-radius: 2px; display: flex; padding: 1px; }
    #listtable3 .card { overflow-x: scroll; margin: 2px; padding: 2px; height: 30px; line-height: 30px; word-break: break-all; word-wrap: break-word; }
    .layui-card { border: 1px dotted green; }
    .w100 { width: 100px; }
    #messagesList { background-color: black; }
    #messagesList li { max-height: 700px; overflow: scroll; border-bottom: 1px dotted green; color: #fff; }
    #lsttableAlias td { cursor: pointer; }
    #lsttableAlias .on { background-color: green; color: #fff; }
    .h95 { height: 100%; overflow: scroll; }
    .p100 { padding-bottom: 60px; }
    #messagesList { padding: 3px 10px; }
    .cmdinfo { max-height: 100px; overflow: scroll; }
</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row ">
            <div class="layui-col-md6">
                <!--列表页-->

                <table class='layui-table'>
                    <tr>
                        <th>组</th>
                        <td>
                            <select class="layui-input" name="GroupName" bf-model="CheckGroupName">
                            </select>
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm  layui-btn-radius layui-btn-danger"
                                    onclick="P.Sysnc(0)">
                                编译
                            </button>
                            <a href='javascript:void(0)' class="layui-btn layui-btn-sm  layui-btn-radius"
                            onclick="P.PublicSite();">
                                发布
                            </a>
                        </td>
                    </tr>
                </table>
                <table class='layui-table' style="table-layout:fixed;">
                    <thead class='head'>
                        <tr>
                            <th style="width:10%">组</th>
                            <th style="width:90%">指令</th>
                        </tr>
                    </thead>
                    <tbody id="listtable">
                    </tbody>
                </table>

                <script type="text/html" id="tpl_lsttable">
                    {{each lst as item }}
                    <tr>

                        <td>{{item.GroupName}}</td>
                        <td style="text-align:left;max-height:300px;">
                          <div class="cmdinfo"> <pre>{{item.Cmd}}</pre></div> </td>

                    </tr>
                    {{/each}}
                    {{if lst.length==0}}
                    <tr>
                        <td colspan="10" class="tc">
                            <img src="/content/images/dataempty.png" />
                        </td>
                    </tr>
                    {{/if}}
                </script>

            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <h2>日志信息</h2>
                    <hr />
                    <!-- 显示消息的列表 -->
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
    </div>




</div>
<script src="~/js/remoteserver.js?v=23ddd"></script> 
<script type="text/javascript">
    var ban = new Ban({
        data: {
            Search: {
                PublicNo: LP.GetQueryString("PublicNo"),
                PublicSiteName: LP.GetQueryString("PublicSiteName"),
                Env: LP.GetQueryString("Env")
            }, //搜索条件
            Info: {
                cmd: ""
            },
            CheckGroupName: "",
            Lst: [],

            SearchUrl: '/trans/Bat',
            CmdListUrl: "/PublicFileDir/PublicCmdList?PublicNo=" + LP.GetQueryString("PublicNo")
        },
        watchinfo: "P.watchinfo"
    });
    var P = {
        watchinfo: (keyname, _key, value, pk) => {
            if (keyname == "CheckGroupName") {
                P.ReaderData();
            }

        },
        GetDataList: () => {
            http.get(ban.$data.CmdListUrl).then(r => {
                var lst = r.attr.DataSource;
                let sel = document.querySelector("[name='GroupName']");
                sel.length = 0;
                sel.options.add(new Option("请选择分组", ""));
                lst.forEach(x => {
                    sel.options.add(new Option(x.GroupName, x.GroupName));
                });

                ban.$data.Lst = lst;
                P.ReaderData();
            });

        },
        //渲染列表数据
        ReaderData: () => {
            var lst2 = ban.$data.Lst;
            if (ban.$data.CheckGroupName.length > 0) {
                lst2 = lst2.filter(x => x.GroupName == ban.$data.CheckGroupName);
            }

            LP.TmplReader({
                lst: JSON.parse(JSON.stringify(lst2))
            }, 'tpl_lsttable', 'listtable');
            //涉及到权限的  在此重新渲染
        },
        //开启同步
        Sysnc: () => {
            if (ban.$data.CheckGroupName.length == 0) {
                LP.ToastError("请先选择组");
                return;
            }
            var lst2 = ban.$data.Lst;
            lst2 = lst2.filter(x => x.GroupName == ban.$data.CheckGroupName);

            layer.confirm('确定执行指令编译发布吗？', {
                btn: ['确定', '取消']
            }, function () {
                document.getElementById('messagesList').innerHTML = "";
                layer.closeAll(); 

                layindex = layer.msg('正在编译中......', {
                    icon: 16, time: 0,
                    shade: 0.21
                });
                P.ExecCmd(lst2, () => {
                    //指令编译完后 进行传输
                    layer.closeAll();
                }, -1);
            }, function () {
                layer.closeAll();
            }, function () {
                layer.closeAll();
            });

        },
        ExecCmd: (cmdArr, cb, i) => {
            i++;
            if (cmdArr.length > i) {

            } else {
                cb();
                return;

            }
            var data = { cmd: cmdArr[i].Cmd };
            $.post(ban.$data.SearchUrl, data, function (r) {
                P.AddMsg(r.message);
                P.ExecCmd(cmdArr, cb, i);
            });
        },
        AddMsg: (message) => {
            const msg = document.createElement('li');
            msg.innerHTML = ` ${message}`;
            if ($("#messagesList li").length > 200) {
                $("#messagesList li").eq(-1).remove();
            }
            document.getElementById('messagesList').prepend(msg);
        },
        PublicSite:()=>{
            remoteserver.PublicSite(ban.$data.Search.PublicNo, ban.$data.Search.Env)
        }

    }

    $(() => {
        P.GetDataList();
    });
    var resizeTimer = null;

    $(window).resize(function () {
        if (resizeTimer) {
            clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
            //   P.CalcHeight();

        }, 100)
    })
</script>



<script src="/lib/signalr.js?v=12"></script>
<script type="text/javascript">

    var conn = new signalR.HubConnectionBuilder().withUrl("/hub").build();

    // 在连接上监听服务端的 ReceiveMessage 方法
    conn.on("ReceiveMsg", (message) => {
        // 接收到消息时打印输出
        console.log(`Received message from : ${message}`);
        const msg = document.createElement('li');
        msg.textContent = ` ${message}`;
        if ($("#messagesList li").length > 200) {
            $("#messagesList li").eq(-1).remove();
        }
        document.getElementById('messagesList').prepend(msg);
    });

    conn.start().catch(err => console.log(err));



</script>